# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [22]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [23]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [24]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [25]:
chipo['item_price'].max()

'$9.39 '

In [26]:
chipo['item_price'] = chipo['item_price'].str[1:].astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [27]:
chipo['item_price'].max()

44.25

In [28]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 4. How many products cost more than $10.00?

In [29]:
len(chipo[chipo['item_price'] > 10]['item_name'].unique())

31

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [30]:
len(chipo[chipo['item_price'] > 10]['order_id'].unique())

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [31]:
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']

In [32]:
# Ya lo hemos calculado, se llama unit_price
chipo[['item_name','unit_price']]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [33]:
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [34]:
chipo.sort_values(['item_name'], ascending=True)

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [35]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['quantity'].values[0]

15

In [36]:
chipo['item_price'].idxmax()

3598

In [37]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [38]:
chipo['item_name'] == "Veggie Salad Bowl"

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [39]:
len(chipo[chipo['item_name'] == "Veggie Salad Bowl"]['order_id'].unique())

18

### Step 9. How many times did someone order more than one Canned Soda?

In [40]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]

,order_id,quantity,item_name,choice_description,item_price,unit_price
18,9,2,Canned Soda,[Sprite],2.18,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,1.09
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18,1.09
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
352,151,2,Canned Soda,[Coca Cola],2.18,1.09
698,287,2,Canned Soda,[Coca Cola],2.18,1.09
700,288,2,Canned Soda,[Coca Cola],2.18,1.09
909,376,2,Canned Soda,[Mountain Dew],2.18,1.09
1091,450,2,Canned Soda,[Dr. Pepper],2.18,1.09
1092,450,2,Canned Soda,[Coca Cola],2.18,1.09
1944,787,2,Canned Soda,[Dr. Pepper],2.18,1.09
2135,859,2,Canned Soda,[Diet Coke],2.18,1.09
2235,901,4,Canned Soda,[Sprite],4.36,1.09
2905,1156,2,Canned Soda,[Coca Cola],2.18,1.09
2906,1156,2,Canned Soda,[Sprite],2.18,1.09
3152,1258,2,Canned Soda,[Dr. Pepper],2.18,1.09
3364,1349,2,Canned Soda,[Coca Cola],2.18,1.09
3592,1440,2,Canned Soda,[Diet Coke],2.18,1.09
3866,1550,2,Canned Soda,[Mountain Dew],2.18,1.09

In [41]:
len(chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'].unique())

18

In [42]:
len(chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'])

20

Extra

In [43]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()

df_cs = chipo[chipo["item_name"] == "Canned Soda"].groupby(['order_id','item_name'], as_index= False)[['quantity']].sum()
df_cs

    order_id    item_name  quantity
0          9  Canned Soda         2
1         14  Canned Soda         1
2         23  Canned Soda         2
3         24  Canned Soda         1
4         47  Canned Soda         1
..       ...          ...       ...
89      1562  Canned Soda         1
90      1575  Canned Soda         1
91      1578  Canned Soda         1
92      1604  Canned Soda         1
93      1621  Canned Soda         1

[94 rows x 3 columns]

In [44]:
len(df_cs[df_cs['quantity'] > 1]['order_id'].unique())

24

In [45]:
chipo[(chipo['item_name'] == "Canned Soda")].head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
18,9,2,Canned Soda,[Sprite],2.18,1.09
28,14,1,Canned Soda,[Dr. Pepper],1.09,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,1.09
53,24,1,Canned Soda,[Sprite],1.09,1.09
107,47,1,Canned Soda,[Dr. Pepper],1.09,1.09

In [46]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'].unique()

array([   9,   23,   73,   76,  150,  151,  287,  288,  376,  450,  787,
        859,  901, 1156, 1258, 1349, 1440, 1550], dtype=int64)

In [47]:
df_cs[df_cs['quantity'] > 1]['order_id'].unique()

array([   9,   23,   73,   76,   81,  108,  150,  151,  287,  288,  376,
        450,  496,  787,  859,  901, 1156, 1258, 1349, 1396, 1434, 1440,
       1484, 1550], dtype=int64)